body{
    margin:0;
    padding: 0;
}
    
/*this for home html page only*/
.header{ 
    display:flex;
   padding:0px 10px;
   background-color:khaki;
    justify-content:space-between;
    
}
.title{
    color:red;
    font-size:35px;
}
.slideshow{

 width:100%;
   height: 700px; 
overflow: hidden;
position: relative;

}


.slides{ 
 display: flex;
  transition: transform 0.8s ease;
  width: 400%; /* 4 slides → 4 * 100% */

}

.slide{
        
  width: 25%;
  flex-shrink: 0;
  position:relative;
}


.slide img{
    width:100%;
    max-height:1500px;
  object-fit:cover;
 display: block;

}
#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    font-size: 22px;
    z-index: 10;
}

#prev { left: 10px; }
#next { right: 10px; }

    
    
.Dfooter{
    position:relative;
    text-align: center;
    padding:9px 15px;
    border:2px solid firebrick;
    margin-top: 10px;
    
    background-color: aquamarine;
   
}
.navbar{
    padding:15px;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}

.navbar a{
    display:inline-block;
   padding:10px 15px;
    text-decoration: none;
    color:black;
    margin:5px;
    
}
.navbar a:hover{
    color:white;
    background-color:blue;
    border-radius:5px;
  
}
.btnonly{
    margin-left:30px;
    padding:10px 20px;
    font-size:20px;
    color:brown;
    
}
.btnonly:hover{
    background-color:aqua;
    color:white;
    border-radius:6px;
}

/*design calculator*/

/*this is for contact html page only*/
.contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    font-size: 25px;
    color: darkblue;
    border: 5px solid sienna;
    border-radius: 12px;
    background-color: skyblue;
    text-align: center;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background: #f2f2f2;
    border-radius: 12px;
}

.line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.champ {
    flex: 1 1 45%; 
    display: flex;
    flex-direction: column;
}

.champ label {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
}

.champ input, .champ select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.gender-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.category {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.btnsubmit {
    margin-top: 30px;
    text-align: center;
}

.btnsubmit input[type="submit"] {
    padding: 12px 28px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.btnsubmit input[type="submit"]:hover {
    background: #4CAF50;
}


